  include *.txt
  include .bumpversion.cfg
  include Makefile
  include tox.ini
  recursive-include bin *.sh
  recursive-include tests *.py *.png *.txt
  recursive-include wordscapesolver *.txt *.ini
